<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="resources/img/favicon.png">

    <title>Birddoggo</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="bootstrap/fontawesome/css/font-awesome.min.css" />
	<script>
	//<![CDATA[
		for(var i=1;i<6;++i) {var a=new Image;a.src='resources/img/background'+i+'.jpg';}
	//]]>
	</script>
<body>


	<header>
		<span class="headerlogo">Birddoggo</span>
		<div class="headercontent">
			<span class="menuselection dropdown-toggle"  data-toggle="dropdown">
				<i class="fa fa-building businessinput active"></i>
			</span>
			
			<div class="dropdown-menu bdg-dropdown" role="menu">
			    <div class="triangulito"></div>
			    <ul class="dropoptions search_field">
			    	<li class="dropoption">
					    <span class="dropicon"><i class="fa fa-building"></i></span>
					    <span class="dropinfo">
					    	<div class="droptitle">Business</div>
					    	<div class="dropdescription">Category or Name</div>
					    </span>
				    </li>
				    <li class="dropoption">
					    <span class="dropicon"><i class="fa fa-user"></i></span>
					    <span class="dropinfo">
					    	<div class="droptitle">People</div>
					    	<div class="dropdescription">First & Last Name</div>
					    </span>
				    </li>
				    <li class="dropoption">
					    <span class="dropicon"><i class="fa fa-phone"></i></span>
					    <span class="dropinfo">
					    	<div class="droptitle">Reverse Lookup</div>
					    	<div class="dropdescription">Telephone Number</div>
					    </span>
				    </li>
				    <li class="dropoption">
					    <span class="dropicon"><i class="fa fa-film"></i></span>
					    <span class="dropinfo">
					    	<div class="droptitle">Movies</div>
					    	<div class="dropdescription">City, State or ZIP</div>
					    </span>
				    </li>
				    <li class="dropoption">
					    <span class="dropicon"><i class="fa fa-sun-o"></i></span>
					    <span class="dropinfo">
					    	<div class="droptitle">Weather</div>
					    	<div class="dropdescription">City, State or ZIP</div>
					    </span>
				    </li>
			    </ul>
			    
			</div>
			<div class="headerfields searchfields">
				<div class="businessinput">
					<input type="text" placeholder="Category or name" id="bkeywords" />
					<span>near</span>
					<input type="text" placeholder="City, State or ZIP" class="place" />
				</div>
				<div class="peopleinput">
					<input type="text" placeholder="First Name" id="firstname" />
					<input type="text" placeholder="Last Name" id="lastname" />
					<span>near</span>
					<input type="text" placeholder="City, State or ZIP" class="place" />
				</div>
				<div class="reverselookup">
					<input type="text" class="singleinput" placeholder="Phone number" id="telephone"/>
				</div>
				<div class="movieinput">
					<input type="text" class="singleinput place" placeholder="City, State or ZIP"/>
				</div>
				<div class="weather">
					<input type="text" class="singleinput place" placeholder="City, State or ZIP"/>
				</div>
				
				
				
			</div>
			<div class="searchbutton"><i class="fa fa-search"></i></div>
		</div>
	</header>
	
	<h1 class="title"><img src="resources/img/bdg_logo.png" alt="bdg_logo" width="400px" height="auto"></h1>
	
	<div class="searcharea">
		<div class="navback">
			<ul class="search_field">
				
				
				
				
				<li class="color_trans clickable active">
					<i class="fa fa-building businessinput"></i>&nbsp;Business
				</li>
				<li class="color_trans clickable">
					<i class="fa fa-user peopleinput"></i>&nbsp;People
				</li>
				<li class="color_trans clickable">
					<i class="fa fa-phone reverselookup"></i>&nbsp;Reverse Lookup
				</li>
				<li class="color_trans clickable">
					<i class="fa fa-film movieinput"></i>&nbsp;Movies
				</li>
				<li class="color_trans clickable">
					<i class="fa fa-sun-o weather"></i>&nbsp;Weather
				</li>
			</ul>
		</div>
		
		<div class="transparent-white order">
			<div class="bodyfields searchfields">
				<div class="businessinput active">
					<input type="text" placeholder="Category or name" id="bkeywords" />
					<span>near</span>
					<input type="text" placeholder="City, State or ZIP" class="place" />
				</div>
				<div class="peopleinput">
					<input type="text" placeholder="First Name" id="firstname" />
					<input type="text" placeholder="Last Name" id="lastname" />
					<span>near</span>
					<input type="text" placeholder="City, State or ZIP" class="place" />
				</div>
				<div class="reverselookup">
					<input type="text" class="singleinput" placeholder="Phone number" id="telephone" />
				</div>
				<div class="movieinput">
					<input type="text" class="singleinput place" placeholder="City, State or ZIP"  />
				</div>
				<div class="weather">
					<input type="text" class="singleinput place" placeholder="City, State, Country" />
				</div>
			</div>
			<div class="searchbutton"><i class="fa fa-search"></i></div>
		</div>
		
	</div>
	<div style="background-color:rgba(230,230,230,.9);"class="resultarea">
		
	</div>

	<!-- templates -->
	<!-- ================================================== -->
	<script type="text/html" id="weather_tpl">
		<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={lat}&lon={lon}"> </iframe>
	</script>
	<script type="text/html" id="theater_tpl">
		
		<div class="movieresult">
			<div class="movieheader">
				<div class="movielocation">
					Showtimes in <span>Stowe, VT</span>
				</div>
				<div class="locationoptions">
					<div class="theatreoptions">
						<span class="theatresearch">All theatres</span><span class="flechita"> &#812;</span>
					</div>
					<div class="distanceoptions">
						<span class="distancesearch">25 miles</span><span class="flechita"> &#812;</span>
					</div>
				</div>
			</div>
			<% for ( var i = 0; i < theatersData.length; i++ ) { var theater = theatersData[i] %>
          	
        	
			<div class="moviebody">
				<div class="theatreresult">
					<div class="theatredata">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= 'collapse' + i%>">
							<div class="theatrename"><%= theater.tname %></div>
						</a>

						<div class="theatreinfo">
							<span class="theatreaddress"><%= theater.address %>, <%= theater.city %>, <%= theater.state %> <%= theater.zip %></span>
							<span>|</span>
							<span class="theatretelephone"><%= theater.phone || ''%></span>
						</div>
						<div class="getdirectionsbutton">
							Get Directions
						</div>
					</div>
				</div>
			</div>
			<div id="<%= 'collapse' + i %>"class="panel-collapse collapse">
      			<div class="panel-body">
      				<%= theater.moviesList %>
		      	</div>
		    </div>
			<% } %>
		</div>
	</script>
	<script type="text/html" id="movie_tpl">
		<div class="theatremovies">
		<% for ( var i = 0; i < movies.length; i++ ) { %>
			<div class="moviereslt">
				<img class="movieposter" src="<%= movies[i].posterUrl %>" alt="" />
				<div class="movietitle"><%= movies[i].mtitle %></div>
				<div class="movieinfo">
					<span class="movierate"><%= movies[i].rating %></span>
					<span class="movieduration"> <%= movies[i].duration %> min</span>
				</div>
				<div class="moviefunctions">
					<span class="moviefunc"><%= movies[i].duration %> </span>
				</div>
				<div class="watchtrailerbutton moviebutton">
					Watch Trailer
				</div>
				<div class="getreviewsbutton moviebutton">
					Get Reviews
				</div>
				<div class="textshowtimebutton moviebutton">
					Text Showtime
				</div>
			</div>
		<% } %>
		</div>
	</script>
	<script type="text/html" id="people_tpl">
		<div class="peopleresult">
			<div class="peopleelement">
				<span class="resultname"><%= person.pname %></span>
				<span class="resultcontact twolineresult rightresult">
					<div class="resultphone"><%= person.phone %></div>
				</span>
				<span class="resultaddress twolineresult centerresult">
					<div class="resultstreet"><%= person.address.fullstreet %></div>
					<div class="resultcity"><%= person.address.city %>, <%= person.address.state %>, <%= person.address.country %></div>
				</span>		
			</div>
		</div>
	</script>
	<!-- end templates -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASNQHzUh6u92HRnNkAQTrfZrT2PlXVedU&amp;sensor=false">
    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/holder.js"></script>
	<script>//<![CDATA[
 		window.birddoggo={cache:{}}
 		//]]>
 	</script>
    <script src="js/find.weather.js"></script>
    <script src="js/find.movie.js"></script>
    <script src="js/lookup.phone.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/functions.js"></script>

 
</body>

</html>
