<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="bootstrap/fontawesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="stylesheets/loading.css" />
	</head>
	<body>
		<!-- Header -->
		<header>
			<!-- Navbar -->
			<nav class="navbar navbar-inverse" role="navigation">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <i class="fa fa-search"></i>
			    </button>
			    <a class="navbar-brand" href="#">Birddoggo</a>
			  </div>
			
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-center navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="#">Link</a></li>
			      <li><a href="#">Link</a></li>
			      <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="#">Action</a></li>
			          <li><a href="#">Another action</a></li>
			          <li><a href="#">Something else here</a></li>
			          <li class="divider"></li>
			          <li><a href="#">Separated link</a></li>
			          <li class="divider"></li>
			          <li><a href="#">One more separated link</a></li>
			        </ul>
			      </li>
			    </ul>
			  </div><!-- /.navbar-collapse -->
			</nav><!-- Navbar end -->
			<div class="container">
				<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1><img src="resources/img/bdg_logo.png" alt="bdg_logo" class="img-responsive"></h1>
				</div>
			</div>
			</div>
			
		</header><!-- Header end -->
		
		
		<!-- Main -->
		<main>
			<!-- Search Section -->
			<section class="searchsection container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="searcharea">
							<div class="navback">
								<ul class="search_field">
									<li class="color_trans clickable active">
										<i class="fa fa-building businessinput"></i>&nbsp;Business
									</li>
									<li class="color_trans clickable">
										<i class="fa fa-user peopleinput"></i>&nbsp;People
									</li>
									<li class="color_trans clickable">
										<i class="fa fa-phone reverselookup"></i>&nbsp;Reverse Lookup
									</li>
									<li class="color_trans clickable">
										<i class="fa fa-film movieinput"></i>&nbsp;Movies
									</li>
									<li class="color_trans clickable">
										<i class="fa fa-sun-o weather"></i>&nbsp;Weather
									</li>
								</ul>
							</div>
							<div class="transparent-white order">
								<div class="bodyfields searchfields">
									<div class="businessinput active">
										<input type="text" placeholder="Category or name" id="bkeywords" />
										<span>near</span>
										<input type="text" placeholder="City, State or ZIP" class="place" />
									</div>
									<div class="peopleinput">
										<input type="text" placeholder="First Name" id="firstname" />
										<input type="text" placeholder="Last Name" id="lastname" />
										<span>near</span>
										<input type="text" placeholder="City, State or ZIP" class="place" />
									</div>
									<div class="reverselookup">
										<input type="text" class="singleinput" placeholder="Phone number" id="telephone" />
									</div>
									<div class="movieinput">
										<input type="text" class="singleinput place" placeholder="City, State or ZIP"  />
									</div>
									<div class="weather">
										<input type="text" class="singleinput place" placeholder="City, State, Country" />
									</div>
								</div>
								<div class="searchbutton"><i class="fa fa-search"></i></div>
							</div>
						</div>
					</div>
				</div>
			</section><!-- Search Section end -->
			
			
			
		<div class="resultarea"></div>			
			
		</main><!-- Main end -->
		<!-- TEMPLATES -->
		<!-- ====================================================== -->
		
		<script type="text/html" id="people_tpl">
			<section class="reverselookup standardresult container">
				<% for ( var i = 0; i < persons.length; i++ ) { var person = persons[i] %>
				<article>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 result inner-border">
							<div class="container">
								<div class="row person_result">
									<div class="col-xs-12 col-sm-12 col-md-4">%= person.pname %></div>
									<div class="col-xs-12 col-sm-6  col-md-4">
										<p>2<%= person.address.fullstreet %></p>
										<p><%= person.address.city %>, <%= person.address.state %>, <%= person.address.country %></p>
									</div>
									<div class="col-xs-12 col-sm-6  col-md-4">
										<p><i class="fa fa-phone reverselookup"></i>&nbsp;&nbsp;<a href="tel:<%= person.phone %>"><%= person.phone %></a></p>
										<p><i class="fa fa-external-link wplink"></i>&nbsp;&nbsp;<a href="#">View on WhitePages.com</a></p>
									</div>								
								</div>
							</div>
							<svg xmlns="http://www.w3.org/2000/svg">
								<line x1="5%" y1="0" x2="95%" y2="0" stroke-width="2" stroke="#494949"/>
							</svg>
						</div>
					</div>
				</article>
				<% } %>
			</section>
		</script>

		<!-- Seaching tpl -->
		<script type="text/html" id="loading_tpl">
			<section class="searchingsection standardresult container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 whitebackground">
						<div class="loading">
							<span class="loading_title">Searching</span>
							<span class="l-1"></span>
							<span class="l-2"></span>
							<span class="l-3"></span>
							<span class="l-4"></span>
							<span class="l-5"></span>
							<span class="l-6"></span>
						</div>
					</div>
				</div>
			</section>
		</script>
		<script type="text/html" id="noresults_tpl">
			<section class="noresultsection standardresult container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 whitebackground">
						<div class="noresults">
							<i class="fa fa-exclamation-circle"></i>&nbsp;Sorry, no results where found for your query
						</div>
					</div>
				</div>
			</section>
		</script>

		<script type="text/html" id="theater_tpl">
			<section class="moviesection container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 movieheader">
						<h1>Showtimes in <bold><%= theatersData[0].city %>, <%= theatersData[0].state %></bold></h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 moviebody">
						<% for ( var i = 0; i < theatersData.length; i++ ) { var theater = theatersData[i] %>
						<article class="theatre">
							<section class="theatreinformation">
								<div class="row theatrename">
									<div class="col-sm-10 col-sm-offset-1 col-xs-12"><%= theater.tname %></div>
								</div>
								<div class="row theatredetails">
									<div class="col-sm-7 col-sm-offset-1 col-xs-12">
										<i class="fa fa-location-arrow"></i>&nbsp;&nbsp;<%= theater.address %>, <%= theater.city %>, <%= theater.state %> <%= theater.zip %>
									</div>
									<div class="col-sm-3 col-xs-12">
										<i class="fa fa-phone"></i><a href="tel:<%= theater.phone || ''%>">&nbsp;&nbsp;<%= theater.phone || ''%></a>
									</div>
								</div>
								<div class="row theatrebuttons">
									<div class="col-sm-10 col-sm-offset-1 col-xs-12">
										<div class="moviebutton"><a href="https://maps.google.co.uk/maps?q=<%= theater.address %>, <%= theater.city %>, <%= theater.state %> <%= theater.zip %>" target="_blank">Get Directions</a></div>
									</div>
								</div>
							</section>
						</article>
						<% } %>
					</div>
				</div>
			</section>
		</script>
		<script type="text/html" id="movie_tpl">
			<section class="theatremovies">
				<% for ( var i = 0; i < movies.length; i++ ) { %>
				<article class="movie">
					<div class="row">
						<div class="col-sm-2 col-xs-12 movieimg"><img  class="poster<%= movies[i].movieId %>"  /></div>
						<div class="col-sm-10 col-xs-12 movieinfo">
							<ul>
								<li class="moviename">movies[i].mtitle</li>
								<li>
									<span class="movierate"><%= movies[i].rating %></span>
									<span class="movieduration"> <%= movies[i].duration %> min</span>
								</li>
								<li class="moviefunctions">
									<span class="moviefunction">10:30</span>
									<span class="functionseparator">&nbsp;|&nbsp;</span>
									<span class="moviefunction">15:25</span>
									<span class="functionseparator">&nbsp;|&nbsp;</span>
									<span class="moviefunction">20:40</span>
								</li>
								<li class="moviebuttons">
									<i class="fa fa-external-link wplink"></i>&nbsp;&nbsp;<a href="#">View on MoviePhone.com</a> 
								</li>
							</ul>
						</div>
					</div>
				</article>
				<% } %>						
			</section>
		</script>
		<script type="text/html" id="weather_tpl">
			<section class="container standardresult weatherresult">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm12 wresult">
						<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat={lat}&lon={lon}"> </iframe>
					</div>
				</div>
			</section>
		</script>

		<!-- ====================================================== -->
		<!-- END TEMPLATES -->
		<!-- Footer -->
		<footer>
			
		</footer><!-- Footer end -->
		<!-- Le Scripts -->
		<script src="bootstrap/js/jquery.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
    	<script src="js/underscore.js"></script>
    	<script type="text/javascript"
      		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASNQHzUh6u92HRnNkAQTrfZrT2PlXVedU&amp;sensor=false">
    	</script>
    	<script src="bootstrap/js/holder.js"></script>
		<script>//<![CDATA[
 			window.birddoggo={cache:{}}
 		//]]> 	
	 	</script>
	    <script src="js/find.weather.js"></script>
	    <script src="js/find.movie.js"></script>
	    <script src="js/lookup.phone.js"></script>
	    <script src="js/find.people.js"></script>
	    <script src="js/find.business.js"></script>
	    <script src="js/scroll.js"></script>
	    <script src="js/functions.js"></script>
		
	</body>
</html>